/* besides rc compiler this file also used by `build.rs` to generate resource id constants.
   only `IDI_` defines are used for it. */

#define RT_MANIFEST 24
1 RT_MANIFEST "res/app.manifest"

/* Icons */

#define IDI_ICON_APP 1001
#define IDI_ICON_GAME_LOCK_ON 1002
#define IDI_ICON_GAME_LOCK_OFF 1003
//#define IDI_ICON_NUM_LOCK 1004

IDI_ICON_APP ICON "res/img/app.ico"
IDI_ICON_GAME_LOCK_ON ICON "res/img/GameLockOn.ico"
IDI_ICON_GAME_LOCK_OFF ICON "res/img/GameLockOff.ico"
//IDI_ICON_NUM_LOCK ICON "res/img/NumLock.ico"

/* Strings */

#define IDS_APP_TITLE 1001
#define IDS_CLEAR_LOG 1002
#define IDS_ENABLED 1003
#define IDS_EXIT 1004
#define IDS_FILE 1005
#define IDS_LOAD_PROFILE 1006
#define IDS_LOG 1007
#define IDS_LOGGING_ENABLED 1008
#define IDS_OPEN 1009
#define IDS_PROFILE 1010
#define IDS_TRAY_TIP 1012
#define IDS__LOGGING_DISABLED_ 1013
#define IDS__LOGGING_ENABLED_ 1014
#define IDS_LOAD_PROFILE_FILE_FILTER 1015

STRINGTABLE
BEGIN
    IDS_APP_TITLE "Keympostor"
    IDS_CLEAR_LOG "Clear log"
    IDS_ENABLED "Enabled"
    IDS_EXIT "Exit"
    IDS_FILE "File"
    IDS_LOAD_PROFILE "Load profile"
    IDS_LOG "Log"
    IDS_LOGGING_ENABLED "Logging enabled"
    IDS_OPEN "Open"
    IDS_PROFILE "Profile"
    IDS_TRAY_TIP "Keympostor"
    IDS__LOGGING_DISABLED_ "--- Logging disabled ---"
    IDS__LOGGING_ENABLED_ "--- Logging enabled ---"
    IDS_LOAD_PROFILE_FILE_FILTER "Profile files(*.toml)|Any(*.*)"
END