/* besides rc compiler this file also used by `build.rs` to generate resource id constants.
   only `IDI_` defines are used for it. */

#define RT_MANIFEST 24
1 RT_MANIFEST "res/app.manifest"

/* Icons */

#define IDI_ICON_APP 1001
#define IDI_ICON_GAME_LOCK_ON 1002
#define IDI_ICON_GAME_LOCK_OFF 1003
//#define IDI_ICON_NUM_LOCK 1004

IDI_ICON_APP ICON "res/img/app.ico"
IDI_ICON_GAME_LOCK_ON ICON "res/img/GameLockOn.ico"
IDI_ICON_GAME_LOCK_OFF ICON "res/img/GameLockOff.ico"
//IDI_ICON_NUM_LOCK ICON "res/img/NumLock.ico"